@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar{
  width: 0.5em;
  height: auto;
}

::-webkit-scrollbar-track{
  background:#606c38;
}

::-webkit-scrollbar-thumb{
  background:#3c4423;
  border-radius: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: overlay;
}

body{
    display: flex;
    flex-direction:column;
    flex:1;
}

img {
  width: 600px;
}

ul{
  list-style-type: none;
}

a{
  color:beige;
  text-decoration: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 15px;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #606c38; 
}

.link-left, .links-right{
    display:flex;
    align-items: center;
    gap:20px;
}

.container{
    display:flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #606c38; 
    padding: 50px;
    flex-basis: fit-content;
}

.left-text{
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 350px;
  margin:5px;
}

.left-text h3{
  font-size: 48px;
  font-weight: bolder;
}

.left-text p{
  font-size: 18px;
}

.right-image{
  display: flex;
  align-self:center;
  width: 450px;
  height: 200px;
}

.left-text, .right-image{
  display:flex;
  align-items: center;
  gap:20px;
}

.kepler{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.button-one{
  font-size: 18px;
  background-color: gray;
  font-weight: bold;

}

.info{
  display:flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 36px;
  font-weight: bold;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 40px;
    padding-top:50px;
    padding-bottom:50px;
}
.book{
  max-width: 150px;
}

.book img{
  max-width: 100%;
  height:150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid olive;
}

.quote{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:sienna;
    color:beige;
    padding:5px;

}

.block{
  display:flex;
  flex-wrap: wrap;
  align-self: center;
  max-width: 800px;
  flex-grow: 1;
}

.block p{
  font-size: 36px;
  font-style: italic;
}

.block h3{
margin-left: auto;
}


.newsletter{
  display:flex;
  align-self: center;
  justify-content: space-around;
  background-color: gray;
  color: beige;
  font-size: 30px;
  width: 30em;
  padding: 20px;
  margin: 50px;
  border-radius: 1rem;
}

.call{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.call h3{
  font-size: 18px;
}

.call p{
  font-size: 12px;
}

.button-two{
  display:flex;
  align-self: center;
  font-size: 18px;
  background-color: gray;
  font-weight: bold;
  border: 2px solid beige;
}

.button-two, .call{
  display:flex;
  align-items: center;
}

.footer{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #606c38; 
  color:beige;
  margin: 0;
  padding:10px;
}
