@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
}

body{
    display: flex;
    flex-direction:column;
    flex:1;
}

img {
  width: 600px;
}

ul{
  list-style-type: none;
}

a{
  color:blanchedalmond;
  text-decoration: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 15px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 107, 60);
}

.link-left, .links-right{
    display:flex;
    align-items: center;
    gap:20px;
}

.container{
    display:flex;
    flex-direction: row wrap;
    align-items: center;
    background-color: rgb(117, 189, 117); 
    padding: 50px;
}

.left-text{
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.left-text h3{
  font-size: 48px;
  font-weight: bolder;
}

.left-text p{
  font-size: 18px;
}

.right-image{
  display: flex;
  align-self:flex-end;
  width: 450px;
  height: 200px;
}

.left-text, .right-image{
  display:flex;
  align-items: space-between;
  gap:20px;
}

.kepler{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.button-one{
  font-size: 18px;
  background-color: gray;
  font-weight: bold;

}


.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.cover{
  width: 100px;
  height: 100px;
}

.quote{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 121, 80);
}
.footer{
    position: fixed;  
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(53, 107, 60);
    color:blanchedalmond;
    position: fixed;
    padding:10px;
}